.sign-main-div{
    margin-top: 8vmax;
    width: 30vmax;
    height: 35vmax;
    margin-left:35vmax ;
    background-color: rgb(90, 84, 84);
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 10px auto; */

    border-radius: 3vmax;
    box-sizing: border-box ;
    box-shadow: 4px 4px 4px 4px rgb(143, 133, 133);
}
.sign-email, .sign-pass ,.sign-btn {
    padding: 15px 16px;
}
.sign-email>input, .sign-pass>input{
    width: 30vh;
    height: 4.5vh;
    display: flex;
    border: none   ;
}
.sign-btn{
    width: 30vh;
    height: 4.5vh;
    display: flex;
    border: none   ;
}
.sign-btn1{
    width: 30vh;
    height: 6vh;
    background-color: green;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}


